.eventhosec {
    padding-top: 60px;
}
.eventho {
    color: black;
    font-weight: bold;
    padding-bottom: 30px;
}

.eventhotex {
    padding-top: 15px;
    padding-bottom: 17px;
    font-kerning: inherit;
    font-weight: bold;
    font-size: 15px;
}
