 .pron {
    margin-top: 25px;
    margin-bottom: 25px;
 }

.pronas {
    color: black;
    font-weight: bold;
}

.pronastex {
    font-kerning: inherit;   
}

.prnastanibut{
    background-color: black;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top:40px;
    text-align: center;
    color: #fcd232;
}