.spaceco{
    margin-left: 53px;
    position: relative;
}

.spacecol {
    margin-left:50px;
    margin-top: 50px;
}
.card1 {
    position: absolute;
    width: 160;
    height: 200;
    left: 410px;
    top: 50px; 
}

.card2 {
    position: absolute;
    top:50px;
    left: 30px;
}
.card3{
    position: absolute;
    bottom: -121px;
    left: 220px;
}

.card4{
    position: absolute;
    bottom:-121px;
    left: 30px;
}
.rounded {
    padding:10px;
   
}
