body {
    max-width: 100%!important;
    overflow-x: hidden;
    margin:0;
    overflow-y: scroll;
    margin-left:0;
    
    
}


/* MEDIA QUERY */


/* @media only screen and (max-width: 1130px){
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }

    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }

} */


